.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card{
  margin: 25px;
  max-height: 450px;
}

.mat-card-image{
  text-align:center;
  margin:auto;
  display:flex;
  padding: 10px;
  max-height: 300px;
  max-width: 200px;
}
.mat-card-actions{
  display: flex;
  justify-content: space-around;
}
