
<table mat-table class="mat-elevation-z8">
  <caption><h2>Shopping Cart</h2></caption>
  <thead>
  <tr>
    <td class="tableHead"><h3>Name</h3></td>
    <td class="tableHead"><h3>Price</h3></td>
    <td class="tableHead"><h3>Quantity</h3></td>
    <td class="tableHead"><h3>Total</h3></td>
  </tr>
  </thead>
  <tr *ngFor="let item of cart">
  <td> {{item.name}} € </td>
  <td> {{item.price}} €</td>
  <td> {{item.quantity}} </td>
  <td> {{item.quantity * item.price}} € </td>
  </tr>
  <tr>
    <td colspan="4" class="total"><h3>Total order : {{totalOrder}} €</h3></td>
  </tr>
</table>
