<mat-card [ngStyle]="{float: 'left'}"  class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{product.name}}</mat-card-title>

  </mat-card-header>
  <img [ngStyle]="{width: '300px'}" mat-card-image src="{{product.picture}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet. Sit adipisci ipsam ea assumenda quibusdam 33 adipisci quam id pariatur perferendis.
      Quo vero ipsum ad quasi recusandae sed molestiae placeat est repudiandae odio aut dolores expedita vel excepturi
      officiis.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-card-subtitle>Price : {{product.price}} €</mat-card-subtitle>
    <button mat-button>Add to cart</button>
  </mat-card-actions>
</mat-card>
